/*/asset/android/*
!/*/asset/android/manifest
/*/asset/ios/*
!/*/asset/ios/manifest
/ja/movie/*
!/ja/movie/manifest
/*/movie/*/*
!/*/movie/*/manifest
/ja/sound/*
!/ja/sound/manifest
/*/sound/*/*
!/*/sound/*/manifest
/*/builtin
